<%= form_with model: @user do |form| %>
    <% if @user.errors.any? %>
        <div>You have <%= pluralize(@user.errors.count, 'error') %></div> 
        <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>


    <%= form.label :username, "Your Username:" %>
    <%= form.text_field :username %>

    <%= form.label :email %>
    <%= form.email_field :email %>

    <%= form.label :password %>
    <%= form.password_field :password %>

    <%= form.submit %>
<% end %>